<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%.-19date;%.-1level;%logger;%msg%n</pattern>
        </layout>
    </appender>
    <logger name="org.springframework" level="info" appender-ref="Console"/>
    <logger name="org.hibernate" level="info" appender-ref="Console"/>
    <logger name="inno" level="debug" appender-ref="Console" />
    <root level="warn">
        <appender-ref ref="Console" />
    </root>
</configuration>

